<a href="https://colab.research.google.com/github/vikasbda21/Feature_Engineering/blob/main/L1_%26_L2_Regularization_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [ ]:
h_data = pd.read_csv('/content/drive/MyDrive/Datasets/Melbourne_housing_FULL.csv')

In [ ]:
h_data.head()

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [ ]:
# Unique values into the dataset
h_data.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [ ]:
h_data.shape

(34857, 21)

In [ ]:
cols_to_use = ['Suburb', 'Rooms', 'Type',  'Method', 'SellerG',
       'Distance', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'CouncilArea', 'Regionname', 'Propertycount', 'Price']
h_data=h_data[cols_to_use]
h_data.head()

       Suburb  Rooms Type  ...             Regionname Propertycount      Price
0  Abbotsford      2    h  ...  Northern Metropolitan        4019.0        NaN
1  Abbotsford      2    h  ...  Northern Metropolitan        4019.0  1480000.0
2  Abbotsford      2    h  ...  Northern Metropolitan        4019.0  1035000.0
3  Abbotsford      3    u  ...  Northern Metropolitan        4019.0        NaN
4  Abbotsford      3    h  ...  Northern Metropolitan        4019.0  1465000.0

[5 rows x 15 columns]

In [ ]:
h_data.shape

(34857, 15)

In [ ]:
h_data.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Distance             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
Price             7610
dtype: int64

In [ ]:
cols_to_fill_zero = ['Distance', 'Bedroom2', 'Bathroom', 'Car', 'Propertycount']
h_data[cols_to_fill_zero] = h_data[cols_to_fill_zero].fillna(0)
h_data.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Distance             0
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        0
Price             7610
dtype: int64

In [ ]:
h_data['Landsize'] = h_data['Landsize'].fillna(h_data.Landsize.mean())
h_data['BuildingArea'] = h_data['BuildingArea'].fillna(h_data.BuildingArea.mean())

In [ ]:
 h_data.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Distance            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
CouncilArea         3
Regionname          3
Propertycount       0
Price            7610
dtype: int64

In [ ]:
h_data.dropna(inplace=True)
h_data.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Distance         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
CouncilArea      0
Regionname       0
Propertycount    0
Price            0
dtype: int64

In [ ]:
h_data = pd.get_dummies(h_data, drop_first=True)
h_data.head()

   Rooms  ...  Regionname_Western Victoria
1      2  ...                            0
2      2  ...                            0
4      3  ...                            0
5      3  ...                            0
6      4  ...                            0

[5 rows x 745 columns]

In [ ]:
X = h_data.drop('Price', axis=1)
y = h_data['Price']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,  y_test = train_test_split(X, y, test_size=0.3, random_state=2)

In [ ]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)

In [ ]:
reg.score(X_test, y_test)

0.13853683161630603

In [ ]:
reg.score(X_train, y_train)

0.6827792395792723

Above Clearlly show training data score have much more than then the test data that means the model is overfitted.

**L1 Regularization**

In [ ]:
# Now we use L1 Regularization for better score
from sklearn import linear_model

lasso_reg = linear_model.Lasso(alpha=50, max_iter=100, tol=0.1)

lasso_reg.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.329e+15, tolerance: 7.963e+14
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive

Lasso(alpha=50, max_iter=100, tol=0.1)

In [ ]:
lasso_reg.score(X_test, y_test)

0.6637669697137103

In [ ]:
lasso_reg.score(X_train, y_train)

0.6767356948457685

**L2 Regularization**

In [ ]:
# Now we use L2 Regularization for better score
from sklearn import linear_model

ridge_reg = linear_model.Ridge(alpha=50, max_iter=100, tol=0.1)

ridge_reg.fit(X_train, y_train)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [ ]:
ridge_reg.score(X_train, y_train)

0.6622376739684328

In [ ]:
ridge_reg.score(X_test, y_test)

0.6670848945194958